:root {
  --color-primary: #6f2c91;
  --color-secondary: #0067B3;
  --black: #000000;
  --bg-gray: #666666;
  --bg-light-gray: #f8f7f7;
  --bg-dark-gray: #1f2020;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-ipadL: 1024px;
  --breakpoint-nb-font-lg: 1232px;
  --primary-font: "GTWalsheimProRegular", Arial, sans-serif;
  --primary-font-bold: "GTWalsheimProBold", Arial, sans-serif;
  --primary-font-color: #212529;
}

/* FONTS */

@font-face {
  font-family: "GTWalsheimProRegular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GTWalsheimProRegular";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GTWalsheimProRegular";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/GT-Walsheim-Pro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "GTWalsheimProBold";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "GTWalsheimProLight";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/GT-Walsheim-Pro-Light.ttf") format("truetype");
}

/* PAGE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.bg-gray {
  background-color: var(--bg-light-gray);
  padding: 5rem 0;
  font-size: 1.25rem;
}

/* TEXT */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 1200;
  line-height: 1.2;
  color: inherit;
}
h1,
.h1 {
  font-size: 4.5rem;
}
h2,
.h2 {
  font-size: 2.5rem;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}

/* BUTTON */

.btn {
  display: inline-block;
  font-weight: 600;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 187.5%;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-secondary {
  color: #6f2c91;
  background-color: #fff;
  border-color: #fff;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #fff;
  border-color: #6f2c91;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  outline: none;
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--black);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/* LINK */

.link.link-hover-border {
  position: relative;
  color: inherit;
  text-transform: uppercase;
  padding: 0;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: bold;
}

.link.link-hover-border:hover,
.link.link-hover-border:active,
.link.link-hover-border:focus {
  outline: none;
  text-decoration: none;
}
.link.link-hover-border:hover:after,
.link.link-hover-border:active:after,
.link.link-hover-border:focus:after {
  left: 100%;
}
.link.link-hover-border:before,
.link.link-hover-border:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 0.1875rem);
  z-index: -1;
  display: block;
  height: 0.1875rem;
}
.link.link-hover-border:before {
  background-color: #000;
}
.link.link-hover-border:after {
  background-color: #0067b3;
  transition: all 0.3s;
}

.link.no-border:before,
.link.no-border:after {
  right: 100%;
}

.link.no-border:before {
  background-color: transparent;
}

.link.no-border:after {
  background-color: transparent;
}

.link.no-border:hover:after {
  background-color: #000;
}

.link.no-border:hover:after,
.link.no-border:active:after,
.link.no-border:focus:after {
  right: 0%;
  left: 0%;
}

/* starting on general style - SB */

/* styling for the header */
/* styling for the header */
/* styling for the header */


.picture-header > img {
  width: 100%;
}

.text-wrapper {
  background-color: var(--color-secondary);
  width: 50vw;
  height: 40vh;
  position: relative;
  top: -30vh;
  left: 25vw;
  color: white;
  font-family: var(--primary-font-bold);
  padding: 0 4em 0 6.5em;
}

.text-wrapper > img {
  width: 40%;
  position: relative;
  left: -6em;
}

.text-wrapper > h1 {
  text-align: left;
  font-weight: 900;
  font-size: 3em;
  line-height: 20px;
  margin-bottom: 1em;
}

/* styling for the first section */

section {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}

.brochure {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.purple-wrapper {
  background-color: var(--color-primary);
  color: white;
  padding: 2em;
  height: 80%;
  position: relative;
  top: -20vh;
  left: -5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.project-partner {
  width: 40vw;
}

.purple-wrapper > p {
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
}

.purple-wrapper >  a {
  width: 80%;
  align-self: center;
  justify-self: end;
}
/* styling for the second section */

.testimonials > h2 {
  text-align: center;
}

div.tri-picture {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.wrapper-hover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.content-hover {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  color: white;
  display: none;
  justify-content: center;
}

.wrapper-hover:hover > .content-hover {
  display: flex;
  flex-flow: column;
  animation: 0.2s comingup ease-out forwards;

}

@keyframes comingup {
  from {transform: scaleY(0)};
  to {transform: scaleY(1);}
}

.content-hover > p, .content-hover > h2 {
  position: relative;
  align-self: center;
  padding: 0.2em;
}

.content-hover > p {
  padding: 1em;
}

.background-hover {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 60vh;
}


.text-wrapper-blue {
  background-color: var(--color-secondary);
  color: white;
  height: 15vh;
  padding: 2em;
}

/* styling for the third section  => KILLED for now*/

/* .tjeklisten {
  display: flex;
  flex-flow: row;
}

.wrapper-with-button {
  display: flex;
  flex-flow: column;
  padding: 2em;
  justify-content: space-between;
}

.wrapper-with-button > a {
  width: 70%;
  align-self: center;
  justify-self: end;
} */

/* styling for the three section */


.actual-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.wrapper-no-btn {
  background-color: var(--color-secondary);
  color: white;
  padding: 2em;

}

.youtube-embed {
  position: relative;
  grid-row: 2;
  grid-column: 2;

  position: relative;
  top: -10vh;
  left: -10vw;
  z-index: 1;
}

iframe:active {
  position: relative;
  z-index: 2;
}
/* styling for the fourth section */

.text-wrapper-purple {
  background-color: var(--color-primary);
  color: white;
}

.second-tri-picture {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
}

.learn-more > h2 {
  text-align: center;
}